/* Global variables */

$font-logo: "Shrikhand", cursive;
$font-text: "Roboto", sans-serif;

$primary-color: #9356dc;
$primary-color-hover: #9356dcd1;
$primary-color-hover-card: #9356dc30;
$secondary-color: #ff79da;
$secondary-color-hover: #ff79dad1;
$tertiary-color: #99e2d0;
$black: black;
$white: #ffffff;
$dark-grey: #eaeaea;
$light-grey: #f7f7f7;
$text-grey: #737373;
$footer-black: #353535;
