/* Loader */

@keyframes loader {
  0% {
    z-index: 100;
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}

/* Spinner */

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Menu List Fade in Animation */

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* Menu Check Icon Rotation */

@keyframes turnCheck {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
