button {
  cursor: pointer;
  height: 3rem;
  margin-bottom: 2rem;
  padding: 0 1.3rem;
  transition: 0.3s;
  background-image: linear-gradient(
    to bottom right,
    $secondary-color,
    $primary-color
  );
  border-radius: 1.5rem;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: $white;
  font-size: 1rem;
  font-weight: 500;
}

button:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(
    to bottom right,
    $secondary-color-hover,
    $primary-color-hover
  );
}
