#loader {
  z-index: -10;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: $black;
  animation: loader 4s ease;
  opacity: 0;
}

@keyframes loader {
  0% {
    z-index: 100;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}

#spinner {
  height: 4rem;
  width: 4rem;
  margin-bottom: 1rem;
  border: solid 10px $tertiary-color;
  border-bottom-color: $secondary-color;
  border-radius: 50%;
  animation: spinner 1.4s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#heading_spinner {
  color: $white;
}
