/* Global variables */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
#loader {
  z-index: -10;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to top, #9356dc, #353535);
  animation: loader 4.5s ease;
  opacity: 0;
}

#spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  margin-bottom: 1rem;
  border: solid 5px #99e2d0;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: spinner 1.4s linear infinite;
}

#spinner_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border: solid 5px #ff79da;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spinner 0.7s reverse linear infinite;
}

#spinner_3 {
  height: 2rem;
  width: 2rem;
  border: solid 5px #ae80e5;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner 0.7s linear infinite;
}

#heading_spinner {
  font-size: 2.5rem;
  font-family: "Shrikhand", cursive;
  text-shadow: 0.1em 0.1em 0 #353535;
  color: #99e2d0;
  animation: heading 4.5s infinite;
  opacity: 1;
}

/* Loader */
@keyframes loader {
  0% {
    z-index: 100;
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
@keyframes heading {
  0% {
    color: #ffffff;
    opacity: 0;
    transform: scale(0.1);
  }
  30% {
    color: #99e2d0;
    transform: scale(1.4);
    text-shadow: 0.3em 0.3em 0 #353535;
  }
  60% {
    color: #ffffff;
    transform: scale(1);
    text-shadow: 0.1em 0.1em 0 #353535;
  }
  100% {
    color: #ff79da;
    opacity: 1;
    transform: scale(1.3);
    text-shadow: 0.3em 0.3em 0 #353535;
  }
}
/* Spinner */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Menu List Fade in Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
/* Menu Check Icon Rotation */
@keyframes turnCheck {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0 auto;
  max-width: 1520px;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.8rem;
}

/* Keeps nav and footer always on top and bottom */
.main_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

/* Section Navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 4rem;
}
.navbar__logo {
  margin-top: 0.5rem;
}
.navbar__link {
  color: #9356dc;
  text-decoration: none;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: #eaeaea;
  box-shadow: inset 0px 5px 5px -4px rgba(0, 0, 0, 0.3);
}
.location i {
  margin-right: 0.8rem;
}

/* Section Banner */
.banner {
  background-color: #f7f7f7;
  padding: 2rem;
  text-align: center;
}
.banner__heading {
  margin: 0 1rem;
  padding: 1rem;
}
.banner__text {
  margin: 0 0 2rem 0;
  font-size: 18px;
  color: #737373;
}

/* Section Operation */
.operation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0;
  padding: 1.6rem;
}
.operation__heading {
  margin: 0 0 1rem 0;
}

.operation__card {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5rem;
  margin: 0.8rem 0;
  background-color: #f7f7f7;
  border-radius: 1.5rem;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.operation__card__text {
  font-weight: bold;
  font-size: 1rem;
}
.operation__card:hover {
  background-color: rgba(147, 86, 220, 0.1882352941);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
}
.operation__card:hover .operation__card__icon {
  color: #9356dc;
}
.operation__card__number {
  position: absolute;
  top: 25px;
  left: -12px;
  height: 1.8rem;
  width: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  padding: 0.5rem;
  border-radius: 50%;
  color: #ffffff;
}
.operation__card__icon {
  margin: 0 2rem 0 3rem;
  color: #737373;
  font-size: 1.5rem;
}

/* Section cards restaurants */
.restaurants__cards {
  background-color: #f7f7f7;
  padding: 1.6rem;
}
.restaurants__cards a {
  text-decoration: none;
  color: black;
}
.restaurants__cards__heading {
  margin: 2rem 0 1.5rem 0;
}

.card {
  position: relative;
  margin-bottom: 1.6rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 1rem;
  /* New Restaurant Icon */
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card__img {
  height: 10rem;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  border-radius: 1rem 1rem 0 0;
}
.card__new__icon {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0.5rem 1rem;
  background-color: #99e2d0;
  border-radius: 0.2rem;
}
.card__new__text {
  color: #278870;
  font-weight: 500;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 1rem;
  font-size: 1.2rem;
}
.container__text {
  margin-top: 0.3rem;
  font-weight: lighter;
}

/* Heart hover and transition */
.heart {
  font-size: 1.6rem;
}
.heart__icon {
  position: absolute;
  right: 20px;
  z-index: 5;
  transition: 0.8s ease-out;
}
.heart__icon:hover {
  cursor: pointer;
  color: #9356dc;
}
.heart__icon:hover + .full_heart {
  opacity: 1;
  transform: scale(1);
}
.heart .full_heart {
  position: absolute;
  right: 20px;
  font-size: 1.6rem;
  color: #9356dc;
  transition: 0.8s ease-in-out;
  transform: scale(0.1);
  opacity: 0;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 1.5rem;
}
.footer__heading {
  margin-bottom: 0.7rem;
  font-family: "Shrikhand", cursive;
}
.footer__link {
  margin: 0.3rem 0;
  color: #ffffff;
  text-decoration: none;
}
.footer__icon {
  display: flex;
  align-items: center;
}
.footer__icon__text {
  margin-left: 0.4rem;
}
.footer__icon .fa-handshake-angle {
  font-size: 0.8rem;
}

@media only screen and (min-width: 796px) {
  .operation__cards {
    display: flex;
    justify-content: space-between;
    grid-gap: 2rem;
  }
  .operation__cards .operation__card {
    width: 100%;
    padding-right: 1rem;
  }
  .restaurants__cards__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
}
@media only screen and (min-width: 481px) {
  .operation {
    margin: 0;
  }
  .card__img {
    height: 20rem;
    object-position: unset;
  }
}
/* Positioning of back flash in navbar */
.nav__restaurant__right, .nav__restaurant__left {
  flex: 1;
}
.nav__restaurant__left {
  margin: 0.5rem 0 0 2rem;
  font-size: 1.5rem;
}
.nav__restaurant__left__icon {
  color: black;
  transition: 0.2s;
}
.nav__restaurant__left__icon:hover {
  color: #9356dc;
  transform: scale(1.1);
}
.nav__restaurant__right {
  margin-right: 2rem;
}

/* Image section */
.restaurant__img {
  height: 14rem;
}
.restaurant__img__photo {
  height: 18rem;
  width: 100%;
  object-fit: cover;
}

/* Section Menu */
.menu {
  padding: 1rem;
  background-color: #eaeaea;
  border-radius: 4rem 4rem 0 0;
}
.menu ul {
  list-style: none;
}

/* Heading Menu */
.menu__restaurant {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.menu__restaurant__heart {
  position: absolute;
  top: 5px;
  right: -5px;
}

.menu__type {
  margin-bottom: 3rem;
  /* Heading Menu Type */
}
.menu__type__heading {
  position: relative;
  margin-bottom: 2rem;
  font-size: 16px;
  font-weight: lighter;
}
.menu__type__heading::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0px;
  background-color: #99e2d0;
  height: 0.2rem;
  width: 2.5rem;
}

/* Menu Type (Starters, Mains, Desserts */
/* Cards Restaurant */
.card__restaurant {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  padding-left: 1rem;
  background-color: #ffffff;
  overflow: hidden;
  cursor: pointer;
  /* Animation Check Dish */
}
.card__restaurant:hover .check {
  margin-right: 0;
  width: 4rem;
  visibility: visible;
}
.card__restaurant:hover .check__icon {
  animation: turnCheck 0.5s ease;
}

.dish {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dish__name {
  font-size: 1.3rem;
  margin: 0 0 0.2rem 0;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dish__side {
  color: #737373;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dish__price {
  display: flex;
  align-items: flex-end;
  margin: 0 3rem 1rem auto;
  font-weight: 500;
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -1rem;
  margin-right: -3rem;
  padding: 1rem 1.4rem;
  width: 0;
  background-color: #99e2d0;
  border-radius: 0 1rem 1rem 0;
  visibility: hidden;
  transition: 0.5s;
}
.check__icon {
  color: #ffffff;
  font-size: 1.6rem;
}

/* Animation for menu */
.fade_in {
  animation: fadeIn 1.2s ease-out forwards;
  opacity: 0;
  transform: translateY(200%);
}

.fade_in_1 {
  animation-delay: 200ms;
}

.fade_in_2 {
  animation-delay: 400ms;
}

.fade_in_3 {
  animation-delay: 600ms;
}

.fade_in_4 {
  animation-delay: 800ms;
}

.fade_in_5 {
  animation-delay: 1000ms;
}

.fade_in_6 {
  animation-delay: 1200ms;
}

.fade_in_7 {
  animation-delay: 1400ms;
}

.fade_in_8 {
  animation-delay: 1600ms;
}

.fade_in_9 {
  animation-delay: 1800ms;
}

.fade_in_10 {
  animation-delay: 2000ms;
}

.fade_in_11 {
  animation-delay: 2200ms;
}

/* Button Restaurant */
#button_restaurant {
  display: flex;
  justify-content: center;
  align-items: center;
}
#button_restaurant button {
  width: 50%;
}

@media only screen and (min-width: 796px) {
  .menu__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
  }
}
button {
  cursor: pointer;
  height: 3rem;
  margin-bottom: 2rem;
  padding: 0 1.3rem;
  transition: 0.3s;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  border-radius: 1.5rem;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
}

button:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(to bottom right, rgba(255, 121, 218, 0.8196078431), rgba(147, 86, 220, 0.8196078431));
}

/*# sourceMappingURL=main.css.map */
